$white: #FFFFFF;
$black: #000000;
$gray: #232323;
$gray-hr: #4c4c4c;
$common-p: #a9a9a9;
$blue-100: #cedae1;
$blue-200: #a2d3ed;
$blue-300: #3AB4F2;
$background-color: #121212;
$gradient-100: #6D09FF;
$gradient-200: #725af9;
$gradient-300: #646efd;
$gradient-400: #4f7cf9;
$gradient-500: #446dff;
$gradient-600: #3AB4F2;
$indigo-100: #02396c;
$indigo-200: #012c55; 

$border-radius: 8px;

$space-6: 5rem;
